<div class="container">
  <h2>User Settings</h2>
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="form-group">
      <label for="name">Name</label>
      <input
        id="name"
        name="name"
        class="form-control"
        placeholder="Name"
        [(ngModel)]="userSettings.name"
        required
        #nameField="ngModel"
        (blur)="onBlur(nameField)"
        [class.field-error]="form.submitted && nameField.invalid"
      />
      <div
        [hidden]="!form.submitted || nameField.valid"
        class="alert alert-danger"
      >
        Enter a name
      </div>
    </div>
    <button
      type="button"
      class="btn btn-primary"
      [(ngModel)]="singleModel"
      btnCheckbox
      btnCheckboxTrue="On"
      btnCheckboxFalse="Off"
      name="singleModel"
    >
      {{ singleModel }}
    </button>
    <div class="form-check form-group">
      <input
        class="form-check-input"
        id="emailOffers"
        name="emailOffers"
        type="checkbox"
        [(ngModel)]="userSettings.emailOffers"
      />
      <label for="emailOffers" class="form-check-label"
        >Email Special Offers</label
      >
    </div>
    <p>User Interface Style</p>
    <div class="form-group">
      <div class="btn-group">
        <label
          class="btn btn-primary"
          id="lightInterface"
          name="interfaceStyle"
          btnRadio="Light"
          tabindex="0"
          role="button"
          [(ngModel)]="userSettings.interfaceStyle"
        >
          Light
        </label>
        <label
          btnRadio="Medium"
          class="btn btn-primary"
          id="MediumInterface"
          name="interfaceStyle"
          value="medium"
          [(ngModel)]="userSettings.interfaceStyle"
        >
          Medium
        </label>
        <label
          btnRadio="Dark"
          class="btn btn-primary"
          id="DarkInterface"
          name="interfaceStyle"
          [(ngModel)]="userSettings.interfaceStyle"
        >
          Dark
        </label>
      </div>
    </div>
    <div class="form-group">
      <label for="subscriptionType">Subscription Type</label>
      <select
        id="subscriptionType"
        class="form-control"
        name="subscriptionType"
        [(ngModel)]="userSettings.subscriptionType"
      >
        <option *ngFor="let type of subscriptionTypes | async">{{
          type
        }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="notes">Notes</label
      ><textarea
        name="notes"
        id="notes"
        rows="3"
        class="form-control"
        [(ngModel)]="userSettings.notes"
      ></textarea>
    </div>
    <div class="form-group">
      <label for="password">
        Password
      </label>
      <input
        class="form-control"
        id="password"
        name="password"
        type="password"
      />
    </div>
    <div [hidden]="!postError" class="alert alert-danger">
      {{ postErrorMessage }}
    </div>
    <button class="btn btn-primary">Send</button>
  </form>
</div>
