<div class="container">
  <h2>User Settings</h2>
  <form>
    <div class="form-group">
      <label for="name">Name</label>
      <input id="name" name="name" class="form-control" placeholder="Name" />
    </div>

    <div class="form-check form-group">
      <input
        class="form-check-input"
        id="emailOffers"
        name="emailOffers"
        type="checkbox"
      />
      <label for="emailOffers" class="form-check-label"
        >Email Special Offers</label
      >
    </div>

    <h5>User Interface Style</h5>
    <div class="form-group">
      <div class="form-check">
        <input
          type="radio"
          class="form-check-input"
          id="lightInterface"
          name="interfaceStyle"
          value="light"
          checked
        /><label for="lightInterface" class="form-check-label">Light</label>
      </div>
      <div class="form-check">
        <input
          type="radio"
          class="form-check-input"
          id="MediumInterface"
          name="interfaceStyle"
          value="medium"
        /><label for="MediumInterface" class="form-check-label">Medium</label>
      </div>
      <div class="form-check">
        <input
          type="radio"
          class="form-check-input"
          id="DarkInterface"
          name="interfaceStyle"
          value="dark"
        /><label for="DarkInterface" class="form-check-label">Dark</label>
      </div>
    </div>
    <button class="btn btn-primary">Send</button>
  </form>
</div>
